<div class="container">
<h1>Hellocopy</h1>
<h3>¡Asegura tu copia!</h3>
<p>Foro para el intercambio de "ideas" de los estudiantes de la escuela de ingeniería </p>

<a href="https://www.facebook.com" target="blank"> <%=image_tag("facebook.png")%></a>
<a href="https://www.twitter.com" target="blank"> <%=image_tag("twitter.png")%></a>
<a href="https://www.instagram.com" target="blank"> <%=image_tag("instagram.png")%></a>

</div>
