@import url('https://fonts.googleapis.com/css?family=Spirax');
@import 'bootstrap';
@import 'bootstrap-sprockets';

body {
   background: url('paisaje.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   line-height: 1.5;
   color: white;
}

.container {
   width: 350px;
   margin: 100px auto;
   padding: 20px;
   background: black;
   background-color: rgba(0,0,0,0.6);
   text-align: center;
   border-radius: 40px;
}

h1 {
   font-family: 'Spirax', cursive;
   font-weight: 100;
   font-size: 60px;
}

p {
   font-family: 'Spirax', cursive;
   font-weight: 200;
   font-size: 20px;
}
